<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nova Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome-5.5/css/all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='slick/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css') }}" />
    <!--
	Nova Calculator
	https://templatemo.com/tm-525-the-town
	-->
  </head>
  <body>    
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
          <div class="tm-next">
              <a href="#hero" class="navbar-brand">Nova Calculator</a>
          </div>             
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#introduction">Introduction</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#work">Our Calculators</a>
              </li>
            </ul>
          </div>        
        </div>
      </nav>
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Nova Calculator</h2>
            <p class="tm-hero-subtitle">
              The New Physics Calculator in Town
              <br />by Team Physicist
            </p>
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#introduction" class="text-center tm-down-arrow-link">
          <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>

    <section id="introduction" class="tm-section-pad-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="https://raw.githubusercontent.com/warhead2002/Images/main/logo.png" alt="Image" class="img-fluid tm-intro-img" />
          </div>
          <div class="col-lg-6">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
                <p class="mb-4 tm-intro-text">
                  This is an <strong>Online Calculator</strong> that focuses on making
                  every Physicist's life <strong>simpler</strong> , by reducing the amount of calculations
                  and decreasing the work load on a person. This website serves the purpose of 
                  effecient calculations, unlike mobile/desktop apps it can be accessed from <strong>anywhere and on any device.</strong>

              </p>
                <p class="mb-5 tm-intro-text">
                  Please tell your friends about our site 
                  <a rel="nofollow" href="http://daanish303.pythonanywhere.com/">Nova Calculator</a>. Thank you.
            </div>
          </div>
        </div>
    </section> 

    <section id="work">      
        <div class="row">
            <div class="col-12">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                      <a href="/mechanics">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="https://i.pinimg.com/originals/33/83/0e/33830ee1ce24bcae52f1b81b14c6fc54.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><span>Mechanics</span></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="/astrophysics">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="https://i.pinimg.com/originals/8a/07/41/8a0741f9289dab81cc6322ef4d65e675.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><span>Astrophysics</span></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="/quantum">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="https://i.pinimg.com/originals/d9/a0/ec/d9a0ec93fe35178c49f4a975ad45ac04.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><span>Quantum</span></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="/relativity">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="https://i.pinimg.com/originals/3c/37/0d/3c370dd96d21d99e6e0ba994cf97cac1.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><span>Relativity</span></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="/waves">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="https://i.pinimg.com/originals/3e/34/b2/3e34b27ea6eb88b710db76db7243f61a.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><span>Waves</span></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="/thermodynamics">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="https://images.unsplash.com/photo-1546182208-1e70985e2bf3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><span>Thermo</span></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <!-- <a href="/waves">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="https://i.pinimg.com/originals/3e/34/b2/3e34b27ea6eb88b710db76db7243f61a.jpg" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><span>Waves</span></h2>
                          </figcaption>
                        </figure>
                      </a> -->

                    </div>
                </div>                
            </div>        
          </div>
      </div>
    </section>
    <script src="{{ url_for('static',filename='js/jquery-1.9.1.min.js') }}"></script>     
    <script src="{{ url_for('static',filename='slick/slick.min.js') }}"></script>
    <script src="{{ url_for('static',filename='magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.singlePageNav.min.js') }}"></script>     
    <script src="{{ url_for('static',filename='slick/slick.min.js') }}"></script> 
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        $(window).scroll(function(){
          var firstTop = $object.offset().top,
              pos = $(window).scrollTop(),
              yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

          var bg_css = 'center ' + yPos + 'px';

          $object.css({"background-position" : bg_css });
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav();        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 400, function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
  </body>
</html>