<html>
    <head>
        <title>Quantum</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <br><br><br><br><br><br>
        <center>
        <table>
            <tr>
                <td><button type="button" class="btn btn-outline-primary btn-lg btn-block">
                    <a href="/quantum/bohr_model">Bohr Model</a></button></td>
                <td><button type="button" class="btn btn-outline-success btn-lg btn-block">
                    <a href="/quantum/compton_scattering">Compton Scattering</a></button></td>
                <td><button type="button" class="btn btn-outline-secondary btn-lg btn-block">
                    <a href="/quantum/compton_wavelength">Compton Wavelength</a></button></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-outline-danger btn-lg btn-block">
                    <a href="/quantum/curie_constant">Curie Constant</a></button></td>
                <td><button type="button" class="btn btn-outline-primary btn-lg btn-block">
                    <a href="/quantum/de_broglie_wavelength">de Broglie Wavelength</a></button></td>
                <td><button type="button" class="btn btn-outline-success btn-lg btn-block">
                    <a href="/quantum/hydrogen_energy">Hydrogen Energy</a></button></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-outline-secondary btn-lg btn-block">
                    <a href="/quantum/photoelectric_effect">Photoelectric Effect</a></button></td>
                <td><button type="button" class="btn btn-outline-danger btn-lg btn-block">
                    <a href="/quantum/photon_energy">Photon Energy</a></button></td>
                <td><button type="button" class="btn btn-outline-primary btn-lg btn-block">
                    <a href="/quantum/rydberg_eqn">Rydberg Equation</a></button></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-outline-primary btn-lg btn-block">
                    <a href="/quantum/stefan_boltzmann">Stefan Boltzmann Law</a></button></td>
                <td><button type="button" class="btn btn-outline-primary btn-lg btn-block">
                    <a href="/quantum/wein_law_pw">Wein's Law Wavelength</a></button></td>
                <td><button type="button" class="btn btn-outline-primary btn-lg btn-block">
                    <a href="/quantum/wein_law_pf">Wein's Law Frequency</a></button></td>
            </tr>  
        </table>
        </center>
        <div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button><br>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
  
    </body>
</html>